// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

//Palette Green
$blue-primary-color: blue;
$blue-second-color:rgb(1, 1, 121);
$blue-third-color: dodgerblue;
//Palette Blue
$black-primary-color: black;
$black-second-color: grey;
$black-third-color:darkgrey;
