.footer{
    width: 100%;
    background-color:rgb(22, 22, 22);
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 20px;
    p{
        color: whitesmoke;
    }
}